*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family:Arial, Helvetica, sans-serif;
}
#circle{
    z-index: 3;
}
.background::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url("picture/LoadingScreen.PNG") no-repeat center center/cover;
    z-index: 2;
}
#menu_background::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url("picture/bg1.jpg") no-repeat center center/cover;
    z-index: -1;
}
.center{
    width: 100%;
    display: flex;
    justify-content: center;
}
#circle{
    height: 3vw;
    width: 3vw;
    margin:auto;
    border: 2px dashed rgba(255,255,255);
    position: absolute;
    bottom: 10vw;
    border-radius: 50%;
    border-bottom: none;
    border-right: none;
    border-left: none;
    animation: cir 1s ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes cir {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#bottom{
    position: absolute;
    bottom: 0;
    background: #f3f3f3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
#task{
    position: absolute;
    right: 0;
}
.ext{
    position: relative;
    display: flex;
}
.int{
    position: absolute;
    left: 0;
}
#startmenu{
    width: 0%;
    position: absolute;
    bottom: 52px;
    transition: all 1s;
}
.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 60px;
    text-align: center;
    margin: 15px;
    cursor:default;
}
.icon:hover{
    /* background: rgba(255, 255, 255, 0.304); */
    border-radius: 5px;
    box-shadow: 0 0 10px white;
}
.icon img{
    width: 60px;
    display: block;
}
.popup{
    position: relative;
    width: 0vw;
    height: 10vw;
    background: white;
    border-radius: 5px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 20px white;
    transition: all 0.1s;
}
#cro{
    position: absolute;
    right: 5px;
    top: 0;
    cursor: default;
}
.content{
    text-align: center;
}